**Задание 1**  
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
  - оценка 2 и меньше - низкий рейтинг  
  - оценка 4 и меньше - средний рейтинг  
  - оценка 4.5 и 5 - высокий рейтинг  
Результат классификации запишите в столбец class

In [44]:
import pandas as pd
from IPython.display import display, HTML

def range_rating(val):
    if val <= 2:
        return "низкий"
    elif val <= 4:
        return "средний"
    elif val == 4.5 or val == 5:
        return "высокий"
    else:
        return "прочий"
    
def add_class():
    try:
        ratings = pd.read_csv('ml-latest-small/ratings.csv')
    except:
        return

    ratings['class'] = ratings['rating'].apply(range_rating)
    return ratings


ratings = add_class()
if ratings is None:
    print("Что-то пошло не так")
else:
    display(HTML(ratings.head(10).to_html()))

**Задание 2**  
Используем файл keywords.csv.  
Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т.е. если поисковый запрос содержит название города региона, то в столбце 'region' пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим 'undefined'.  
Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:
```python
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}
```
Результат классификации запишите в отдельный столбец region.

In [45]:
def get_region(val, fmap):
    for reg, cities in fmap.items():
        for city in cities:
            if city in val:
                return reg
    return "undefined"


def add_region(fmap):
    try:
        keywords = pd.read_csv('keywords.csv')
    except:
        return
    
    keywords['region'] = keywords['keyword'].apply(get_region, fmap=fmap)
    return keywords


geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}
    
keywords = add_region(geo_data)
if keywords is None:
    print("Что-то пошло не так")
else:
    # выведем только первые 10 из тех, которые смогли определить
    display(HTML(keywords[ keywords['region'] != "undefined" ].head(10).to_html()))

**Задание 3 (бонусное)**  
Есть мнение, что "раньше снимали настоящее кино, не то что сейчас". Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.
При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:
1. В переменную years запишите список из всех годов с 1950 по 2010.
2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
  - для каждой строки пройдите по всем годам списка years
  - если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
  - если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец 'year'
4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца 'year' и отсортируйте результат по убыванию рейтинга

In [46]:
def production_year(title, years):
    for year in years:
        if "(" + str(year) + ")" in title:
            return year
    return 1900

def worse_or_not():
    try:
        ratings = pd.read_csv('ml-latest-small/ratings.csv')
        movies = pd.read_csv('ml-latest-small/movies.csv')
    except:
        return

    # добавим инфу о рейтинге
    movies_plus = pd.merge(movies, ratings[['movieId', 'rating']], on='movieId')
    
    # далее по алгоритму
    years = [x for x in range(1950, 2011)]
    movies_plus['year'] = movies_plus['title'].apply(production_year, years=years)
    mn = (movies_plus
        .groupby('year')['rating']
        .mean()
        .reset_index()
        .sort_values('rating', ascending=False)
    )
    
    return mn


won = worse_or_not()
if won is None:
    print("Что-то пошло не так")
else:
    display(HTML(won.to_html()))